<div class="row">
  <div class="col-6">
    <%= link_to 'Machne New Njord Coffee Report', new_coffee_report_path, class: 'btn btn-lg btn-info' %>
  </div>
  <div class="col-6">
    <%= link_to 'Machne New Njord Restaurant Report', new_restaurant_report_path, class: 'btn btn-lg btn-success' %>
  </div>
</div>
