<div class="row w-100 justify-content-center">
  <div class="col-6 d-flex justify-content-center flex-column">
    <%= link_to 'Njord Coffee Report', new_coffee_report_path, class: 'd-block mb-3 btn btn-lg btn-info' %>
    <%= link_to 'Njord Restaurant Report', new_restaurant_report_path, class: 'd-block mb-3 btn btn-lg btn-success' %>
    <%= link_to 'Koti Report', new_store_report_path, class: 'd-block mb-3 btn btn-lg btn-danger' %>
    <% if %w[henri claudia test].include? current_user.username.downcase %>
      <%= link_to 'Manage Users', users_path, class: 'd-block mb-3 btn btn-lg btn-secondary' %>
    <% end %>
  </div>
</div>


